.card {
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
}

.cards__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card__title {
  margin-top: 8px;
  font-size: 14px;
}
