.card {
  display: flex;
  flex-direction: column;
}

.card__img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  height: 413px;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__title {
  margin-top: auto;
  font-size: 20px;
  line-height: 120%;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Poppins";
  max-width: 353px;
  color: #212121;
  overflow: hidden;
}

.card__content {
  display: flex;
  justify-content: space-between;
}

.card__like-button {
  background-image: url(../images/Like-Icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #fcf5e5;
  opacity: 0.4;
}

.card__like-button:hover {
  opacity: 1;
}

@media screen and (max-width: 320px) {
  .card__title {
    height: 288px;
    font: "Poppins";
    font-weight: 500;
    line-height: 1;
    font-size: 16px;
    color: #212121;
  }
  .card__icon {
    width: 20px;
    height: 18px;
    opacity: 0.4;
  }
}
