.card {
  display: flex;
  flex-direction: column;
}

.card__img {
  width: 100%;
  height: 413px;
  object-fit: cover;
  border-radius: 6px;
}

.cards__list {
  display: grid;
  gap: 24px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 413px);
}

@media (max-width: 900px) {
  .cards__list {
    grid-template-columns: repeat(2, 413px);
  }
}

@media (max-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(1, 288px);
  }
}

.card__title {
  margin-top: 8px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  max-width: 353px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 627px) {
  .card__title {
    max-width: 235px;
  }
}
