.card {
  display: flex;
  flex-direction: column;
}

.card__img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  height: 413px;
  border-radius: 8px;
}

.cards__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 20px;
}

.card__title {
  margin-top: 12px;
  font-size: 20px;
  line-height: 120%;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Poppins";
  width: 190px;
  color: #212121;
}

@media screen and (max-width: 900px) {
  .cards__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
  }
}
