.footer {
  text-align: center;
  padding: 60px 0;
  font-size: 14px;
  color: #545454;
}

.footer__copyright {
  margin: auto 0;
  font-size: 16px;
  line-height: 100%;
  color: #212121b2;
  font-weight: 400;
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    width: 104px;
    height: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: #212121b2;
  }
}
