.footer {
  text-align: center;
  padding: 60px 0;
  font-size: 14px;
  color: #545454;
}

.footer__copyright {
  margin: auto 0;
  font-size: 16px;
  line-height: 100%;
  color: #212121b2;
  font-weight: 400;
}
