.page {
  max-width: 880px;
  margin: 0 auto;
  background-color: #fcf5e5;
  border-radius: 8px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, Arial, sans-serif;
  background-color: #f5f4f0;
  color: #000;
}
